.app_container{
    display: flex;
    width: 100%;
    justify-self: flex-end;
    position: fixed;
    
}


.app_container .maine_container{
      overflow-y: auto;
    width: 77vw;;
    display: flex;
    height: 100vh;
    flex-direction: column;
  
  }
  .expand{
    width: 100vw !important;
 
    /* left: 0; */
  }
  .main{
   
    top: 60px;
    /* right: 0; */
    
    width:100%;
   
   
  }