.app_container{
    display: flex;
    width: 100%;
    /* justify-self: flex-end; */
    /* position: fixed; */
    
}


.app_container .maine_container{
    /* overflow-y: auto; */
    width: 77vw;;
  overflow-x: hidden;
    height: 100vh;
     background-color:#F9FBFC;
     transition:  0.3s all ease-in-out;
     position: fixed;
     right: 0;
  
  }
  .expand{
    width: 100vw !important;
 
    
  }
  .main{
    position: relative;
    top: 60px;
    width:100%;
    padding: 20px 20px;
   }