@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}

/*------------ Login container ------------*/
.box-area{
    width: 720px;
    position: relative;
}
/*------------ Right box ------------*/
.right-box{
    padding: 40px 0px 40px 0px;
    height: 450px;
}

.label{
    margin-left: 10px;
}

/*------------ Custom Placeholder ------------*/
::placeholder{
    font-size: 16px;
}
.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}
.fenetre-login{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7); 
    z-index: 100;
    animation: anim_opacity .6s;
}
.box-area{
    animation: anim_boite .7s;
}
.fenetre-login[aria-hidden="true"]{
    animation: anim_opacity2 .3s;
}
.fenetre-login[aria-hidden="true"] .box-area{
    animation: slideToButtom .3s;
}

.fermer{
    position:absolute;
    top: 6px;
    right:16px;
    cursor:pointer;
    transition:.2s;
}
.fermer i{
    font-size: 23px;
}
.fermer:hover i{
    color: red;
    cursor: pointer;
    transition: 0.2s;
    font-weight: bolder;
}


/*------------ For small screens------------*/
@media only screen and (max-width: 768px){
     .box-area{
        margin: 0 10px;
     }
     .left-box{
        height: 100px;
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }
}

/*------------ animation pour fenetre modale login ------------*/
@keyframes anim_opacity {
    from{opacity: 0 ;}
    to{opacity: 1 ;}
}
@keyframes anim_boite {
    from{transform: translateY(-50px);}
    to{transform: translateY(0px);}
}

/* animation pour la fermuteur de la boite */
@keyframes anim_opacity2 {
    from{opacity: 1 ;}
    to{opacity: 0 ;}
}
@keyframes slideToButtom {
    from{transform: translateY(0px);}
    to{transform: translateY(50px);}
}