.header{
color: white;
position: fixed;
top: 0;
background-color: #111827;
width: 100%;
padding: 0 120px;
height: 60px;
display: flex ;
justify-content: space-between;
font-size: 20px;
align-items: center !important;

}

.header .bar_icon{
cursor: pointer;
font-size: 24px;
}
.header .navigation_links{
justify-self: center;
align-self: center;
 
}

.header .account_holder{
    display: flex;
    gap: 1rem;
     
    align-items: center;
    /* justify-content: flex-start; */
    cursor: pointer;
     
 
  overflow: hidden;

}
.header .account_holder .account_circle{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 50%;
    background-color: white;
    color:black
}

  .header p{
    align-self: center !important; 
   position: relative;
   top: 5px;
  
}
 