.sideBar{
   
    background-color: #F9FBFC;
    height: 100dvh;
 
    position: fixed;
    left: 0;
    width: 23vw;
    color: black;
    overflow: visible;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5) !important;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
    transition:  0.3s left ease-in-out;
    /* z-index: 1; */
     flex: 1;
     
}
.hidden{ 
left: -32vw !important;

}
/* logo  */
.logo{
  text-transform: capitalize;
  font-size: 34px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.logo span{
  color: #3F51B5;
}
 
.links_sidebar {
    width: 100%;
    height: 90%;
    display: flex;
    font-size: 20px;
    align-items: center;
    text-align: left;
    justify-content: center;
   
    text-decoration: none;
  
}
.links_sidebar>div{
    
    width: 100%;
  
}
.links_sidebar  p{
    cursor: pointer;
    border-radius: 5px;
    padding: 1rem 2rem;
}
.link:hover {
    background-color: rgba(138, 138, 138, .27);
}
.links_sidebar .active{
  background-color: rgba(138, 138, 138, .27);
}
 
.link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
    width: 100%;
  }