.sideBar{
   
    background-color: #F9FBFC;
    height: 100dvh;
 
    position: fixed;
    left: 0;
    width: 300px;
    color: black;
    overflow: visible;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5) !important;
    
    transition:  0.3s all ease-in-out;
    /* z-index: 1 !important; */
     flex: 1;
     
}
.hidden{ 
/* left: -32vw !important; */
width: 80px;
}
/* logo  */
.logo{
  text-transform: capitalize;
  font-size: 30px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 2rem 1rem;
  white-space: nowrap;
}
.logo .bleu{
  color: #1631c9;
}

.logo-cercle{
  padding: 2px 8px 2px 8px;
  border: 1px solid #111827;
  border-radius: 50%;
  font-size: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  background-color: #111827;
  color: #fff !important;
}
 
.links_sidebar {
    width: 100%;
    height: 90%;
    display: flex;
    font-size: 20px;
    align-items: center;
    text-align: left;
    justify-content: center;
   
    text-decoration: none;
  
}
.links_sidebar>div{
    
    width: 100%;
  
}
.links_sidebar  p{
    cursor: pointer;
    border-radius: 5px;
    padding: 1rem 1.5rem;
}
.link p:hover {
    background-color: rgba(138, 138, 138, .27) !important;
}
.links_sidebar .active{
  background-color: rgba(138, 138, 138, .27);
}
 
.link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
    width: 100%;
  }

  .text-hidden {
    display: none;
  }

  .link p span{
    white-space: nowrap;
  }


  /* css des icons */
  .link p{
    /* width: 100% !important; */
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .link p i {
    font-size: 25px;
    margin-right: 25px;
  }
  .link p .bi.bi-person-gear{
    font-size: 30px;
  }



  @media screen and (max-width: 650px) {
  
    .sideBar{
    border-radius: 15px 15px 0 0;
      height: auto;

    bottom: 0;

      z-index: 200;
      
      left: 0 !important;
      width: 100dvw;
      
     padding: .5rem 0;
       
    }
    .hidden{ 
    bottom: -100% !important;
    left: 0 !important;
    }

    .links_sidebar  p{
      cursor: pointer;
      border-radius: 5px;
      padding: .4rem 2rem;
    }

  }


 